<html>
<head>
  <title>simple form</title>
</head>
<body>
  <div>
    <table>
      <thead>
        <th>Username</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>password</th>
        <th>Delete</th>
      </thead>
      <tbody *ngFor="let key of arraydataformData">
      <tr>
        <td>{{key.username}}</td>
        <td>{{key.lastname}}</td>
        <td>{{key.email}}</td>
        <td>{{key.password}}</td>
        <td><button  type="button"  click="Delete()">Delete</button></td>
      </tr>
        </tbody>
  </table>
  </div>
  <br>
  <br>
  <div class="form">
  <h3>Creat the simple form</h3>
  <form [formGroup] = "reativeform"  (ngSubmit)="Onsubmit()">
    <div class="name">
    <label for="user">User Name: </label>
    <input id="user" type="text" class="user"  formControlName="username" autocomplete="off" >
     <span class="ngcontrol" 
    *ngIf="!reativeform.get('username')?.valid && reativeform.get('username')?.touched">
    Please Enter the valid Username!
  </span>
    </div>
    <br>
    <br>
    <div class="last">
    <label for="last">Last Name: </label>
    <input id="last" type="text" class="las"   formControlName="lastname" autocomplete="off" >
    <span class="ngcontrol" 
    *ngIf="!reativeform.get('lastname')?.valid && reativeform.get('lastname')?.touched">
    please Enter the Valid Lastname!
  </span>
    </div> 
    <br>
    <br>
    <div class="email">
      <label for="email">Email: </label>
    <input id="email" type="email" class="emai" name="email" formControlName="email" autocomplete="off" >
    <span class="ngcontrol" 
    *ngIf="!reativeform.get('email')?.valid && reativeform.get('email')?.touched">
    please Enter the valid Email!
  </span>
    </div>
     <br>
     <br>
     <div class="password">
      <label for="password">password: </label>
      <input id="password" type="password"name="password" class="pass" formControlName="password"  autocomplete="off" >
      <span class="ngcontrol" 
      *ngIf="!reativeform.get('password')?.valid && reativeform.get('password')?.touched">
      please Enter the Valid Password!
    </span>
     </div>
     <br>
     <br>
     <div>
     <button class="way">Submit</button>
     </div>
     <br>
    </form>
    </div>
    </body>
    </html>
<router-outlet></router-outlet>



